
<!doctype html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>overgeared.Manager overgeared.Roster</title>

</head>

<style>
table, th, td{
border: 1px solid black;
}
table{
width:50%;
border-collapse: collapse;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
<!--  float: none;-->
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
</style>


<body>
<div class="container bg-faded">
    <h1 style="color: rgb(10, 134, 156);" class="text-center">Welcome To The Overgeared Restaurant overgeared.Manager</h1>

    <div class="row">
    </div>
    <hr>
    <form action="/roster" method="POST">

        <div class="sidebar">
            <header id="header">THE OVERGEARED RESTAURANT MANAGER CHAMBERS</header>
            <a class="active" href="/home">ROSTER SCHEDULE</a>
            <a href="/Absence_Report" class="nav-link">ABSENCE REPORT</a>
            <a href="/Update_Employees" class="nav-link">UPDATE EMPLOYEES</a>
            <a href="/Help" class="nav-link">HELP</a>
            <a href="/" class="nav-link">LOG OUT</a>

        </div>
        <div class="content">

<!--        <main id="main-doc">-->
<!--            <section class="main-section" id="Roster_Schedule">-->
                <header>ROSTER SCHEDULE</header>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Sun</th>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thurs</th>
                        <th>Fri</th>
                        <th>Sat</th>
                    </tr>

                    <tbody>
                    <th>
                    <td>Ammaar</td><br>
                    <td>Bantu</td>
                    <td>Vuyo</td>
                    <td>Sese</td>
                    <td>Sese</td>
                    <td>Sese</td>
                    <td>Sese</td>
                    </th>
                    </tbody>
                </table>
<!--            </section>-->
<!--            <section class="main-section" id="Absence_Report">-->
                <header>ABSENCE REPORT</header>
                <h4>ABSENT</h4>
<!--            </section>-->
<!--            <section class="main-section" id="Update_Employees">-->
                <header>UPDATE EMPLOYEES</header>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thurs</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>

                <tbody>
                <th>
                <td>Ammaar</td><br>
                <td>Bantu</td>
                <td>Vuyo</td>
                <td>Sese</td>
                <td>Sese</td>
                <td>Sese</td>
                <td>Sese</td>
                </th>
                </tbody>
            </table>

            <label for="" class="sr-only">Employees Information</label>
            <input type="" name="employeeName" id="inputName" class="employee" placeholder="Employee" required autofocus>

            <h1>Scheduled Shifts:</h1>

            <form action="/roster">
                <input type="checkbox" id="sunday" name="sunday" value="Sunday">
                <label for="sunday"> Sunday</label>
                <input type="checkbox" id="monday" name="monday" value="Monday">
                <label for="monday"> Monday</label>
                <input type="checkbox" id="tuesday" name="tuesday" value="Tuesday">
                <label for="tue"> Tuesday</label>
                <input type="checkbox" id="wednesday" name="wednesday" value="Wednesday">
                <label for="wed"> Wednesday</label>
                <input type="checkbox" id="thursday" name="thursday" value="Thursday">
                <label for="Thursday"> Thursday</label>
                <input type="checkbox" id="friday" name="friday" value="Friday">
                <label for="friday"> Friday</label>
                <input type="checkbox" id="saturday" name="saturday" value="Saturday">
                <label for="saturday"> Saturday</label>
                <input type="submit" value="Submit">
            </form>
<!--            </section>-->
<!--                <section class="main-section" id="Help">-->
                <header>HELP</header>
               <h4>HELP</h4>
<!--                </section>-->
        </main>

        </div>
    </form>
   <br>
</div>
</div>

</body>

