<!doctype html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"

</head>

<style>
* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flwx-wrap: wrap;
  margin: 0;
}

nav {
  padding-top: 25px;
  background-color: #FFE4FA;
  border-right: 2px solid #A6E8E4;
  min-width: 200px;
  height: 100vh;
  font-size: 12px;
}

nav a {
  border-top: 1px solid #A6E8E4;
  color: #4F4F4F;
  display: block;
  padding: 15px;
  text-decoration: none;
}

nav a:hover {
    background-color: #A6E8E4;
    }

main {
  flex: 1;
  padding: 20px;
  max-height: 100vh;
  overflow-y: scroll;
}
section {
  padding: 15px;
  line-height: 1.5;
}

header {
  font-size: 15px;
  font-weight: 500;
  word-wrap: break-word;
}

.header-padding {
    padding: 25px;
    background-color: #A6E8E4
    }

pre {
  padding-top: 14px;
  background-color: #A6E8E4
}

@media (max-width: 600px){
  body {
    flex-direction: column;
  }
  nav {
    border-right: none;
    border-bottom: 2px solid #FFE4FA;
    height: 300px;
    overflow-y: scroll;
    width: 100%
  }
  main {
    height: auto;
    width: 100%;
    overflow-y: none;
  }

.content
#number {
  width: 100%;
  padding: 110px;
  border-radius: 100px;
  font-size:15px;
  border: none;
}


}

</style>


<body>

<nav id="navbar">
    <div class="header-padding">
        <header id="header">THE OVERGEARED</header>
        <header id="header">RESTAURANT WAITER</header>
        <header id="header">CHAMBERS</header>
    </div>


    <a class="nav-link" href="/waiter_chamber">ROSTER SCHEDULE</a>
    <a class="nav-link" href="/waiterAbsence">ABSENCE REPORTING</a>
    <a href="/" class="nav-link">HOME</a>
</nav>

<div class="container bg-faded">

    <div>
        <h1 style="color: rgb(10, 134, 156);" class="text-center">ABSENCE REPORT CARD</h1>
    </div>
    <div>
        <form id="body" class="parent">
            <div class="content">
                <label id="number" for="fname">Employee ID:</label><br>
                <input type="text" id="fname" name="fname"><br>

                <label id="number" for="lname">Employee Name:</label><br>
                <input type="text" id="lname" name="lname">

            </div>

            <label id="number" class="content" for="cars">Day of Absence:</label>
            <select name="dayOff" id="cars">

                <option value="monday">Monday</option>
                <option value="tuesday">Tuesday</option>
                <option value="wednesday">Wednesday</option>
                <option value="thursday">Thursday</option>
                <option value="friday">Friday</option>
                <option value="saturday">Saturday</option>
                <option value="sunday">Sunday</option>
            </select>

            <label id="number" class="content" for="cars">Day to replace shift:</label>
            <select name="dayReplaced" id="cars">

                <option value="monday">Monday</option>
                <option value="tuesday">Tuesday</option>
                <option value="wednesday">Wednesday</option>
                <option value="thursday">Thursday</option>
                <option value="friday">Friday</option>
                <option value="saturday">Saturday</option>
                <option value="sunday">Sunday</option>

            </select>

            <input type="submit" class="bg" value="Submit Request">
        </form>
    </div>

    <br>

</div>

</body>